<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    {% block viewport %}{% endblock %}
    <title>古董局中局后台管理系统</title>
    <link rel="icon" type="image/png" href="../static/assets/i/icon-tubiao.png">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/assets/css/admin.css">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <script src="../static/assets/js/echarts.min.js"></script>
</head>

{% if not session.logged_in %}
    <link rel="stylesheet" href="../static/assets/css/app2.css">
    <body class="theme-white">
    <div class="tpl-login-content">
        <div>
            <img src="../static/assets/img/login.png">
        </div>
        {% if error %}<p class=error><strong>错误:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('login') }}" method=post class="am-form tpl-form-line-form">
            <div class="am-form-group am-form-icon">
                <i class="am-icon-user"></i>
                <input type="text" class="tpl-form-input am-form-field" name="username" placeholder="请输入账号">
            </div>
            <div class="am-form-group am-form-icon">
                <i class="am-icon-key"></i>
                <input type="password" class="tpl-form-input am-form-field" name="password" placeholder="请输入密码">
            </div>
            <div class="am-form-group">
                <input type=submit  class="am-btn am-btn-primary  am-btn-block tpl-btn-bg-color-success">
            </div>
        </form>
    </div>
    </body>
{% else %}

    <body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="{{ url_for('show_index') }}" class="tpl-logo">
                <img src="../static/assets/img/gudong.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target:'#topbar-collapse'}">
            <span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                {#            <li class="am-hide-sm-only"><a href="javascript:" id="admin-fullscreen" class="tpl-header-list-link">#}
                {#                <span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>#}
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">{{session.username}}</span><span class="tpl-header-list-user-ico">
                        <img src="../static/assets/img/touxiang.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="{{ url_for('logout') }}"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('logout') }}" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                欢迎管理员：{{session.username}}
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="{{ url_for('show_index') }}" class="nav-link tpl-left-nav-link-list {% block indexactive %}{% endblock %}">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:" class="nav-link tpl-left-nav-link-list {% block useractive %}{% endblock %}">
                            <i class="am-icon-users"></i>
                            <span>用户管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" {% block userstyle %}{% endblock %}>
                            <li>
                                <a href="{{ url_for('userList') }}" {% block userListactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户详细列表</span>
                                </a>
                                <a href="{{ url_for('dayUpUserList') }}" {% block dayUpUserListactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>日增用户列表</span>
                                </a>
                                <a href="{{ url_for('userDiagram') }}" {% block userDiagramactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>日增用户视图</span>
                                </a>
                                <a href="{{ url_for('userDiagramByWeek') }}" {% block userDiagramByWeekactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>周增用户视图</span>
                                </a>
                                <a href="{{ url_for('userDataByGame') }}" {% block userDataByGameactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户局数列表</span>
                                </a>
                                <a href="{{ url_for('userDiagramByGame') }}" {% block userDiagramByGameactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户局数饼图</span>
                                </a>
                                <a href="{{ url_for('userDiagramBySex') }}" {% block userDiagramBySexactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户性别饼图</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:" class="nav-link tpl-left-nav-link-list {% block gameactive %}{% endblock %}">
                            <i class="am-icon-paper-plane-o"></i>
                            <span>开局管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" {% block gamestyle %}{% endblock %}>
                            <li>
                                <a href="{{ url_for('gameList') }}" {% block gameListactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>开局详细列表</span>
                                </a>
                                <a href="{{ url_for('dayUpGameList') }}" {% block dayUpGameListactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>日增开局列表</span>
                                </a>
                                <a href="{{ url_for('gameDiagram') }}" {% block gameDiagramactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>日增开局视图</span>
                                </a>
                                <a href="{{ url_for('gameDiagramByWeek') }}" {% block gameDiagramByWeekactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>周增开局视图</span>
                                </a>
                                <a href="{{ url_for('gameDiagramByNum') }}" {% block gameDiagramByNumactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>开局人数饼图</span>
                                </a>
                                <a href="{{ url_for('winrateDiagramByNum') }}" {% block winrateDiagramByNumactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>胜率人数饼图</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:" class="nav-link tpl-left-nav-link-list {% block dataactive %}{% endblock %}">
                            <i class="am-icon-line-chart"></i>
                            <span>周期统计</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" {% block datastyle %}{% endblock %}>
                            <li>
                                <a href="{{ url_for('periodAnalyseByDay') }}" {% block periodAnalyseByDayactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>单日同比数据</span>
                                </a>
                                <a href="{{ url_for('periodAnalyseByDayTotal') }}" {% block periodAnalyseByDayTotalactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>时间叠加数据</span>
                                </a>
                                <a href="{{ url_for('periodAnalyseByWeek') }}" {% block periodAnalyseByWeekactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>单周同比数据</span>
                                </a>
                                <a href="{{ url_for('periodAnalyseByWeekTotal') }}" {% block periodAnalyseByWeekTotalactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>单周叠加数据</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                <li class="tpl-left-nav-item">
                        <a href="javascript:" class="nav-link tpl-left-nav-link-list {% block geoactive %}{% endblock %}">
                            <i class="am-icon-map"></i>
                            <span>地理统计</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu" {% block geostyle %}{% endblock %}>
                            <li>
                                <a href="{{ url_for('userListByGeo') }}" {% block geoListactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>地理用户列表</span>
                                </a>
                                <a href="{{ url_for('userMapByProvince') }}" {% block Mapactive %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>省级地理视图</span>
                                </a>
                                <a href="{{ url_for('userMapByCity') }}" {% block Map2active %}{% endblock %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>城市地理视图</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {#                <li class="tpl-left-nav-item">#}
                    {#                    <a href="{{ url_for('login') }}" class="nav-link tpl-left-nav-link-list">#}
                    {#                        <i class="am-icon-key"></i>#}
                    {#                        <span>登录</span>#}
                    {#                    </a>#}
                    {#                </li>#}
                </ul>
            </div>
        </div>
        {% block son %}
        {% endblock %}
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/amazeui.min.js"></script>
    <script src="../static/assets/js/iscroll.js"></script>
    <script src="../static/assets/js/app.js"></script>
    </body>
{% endif %}
</html>