{% extends "base.html" %}
{% block son %}
    <div class="admin-biaogelist" >
        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on">
                日增开局管理
            </ul>
            <dl style="float: right;">
                当前位置： <a class="am-icon-home" href="{{ url_for('show_index') }}">首页</a> > 日增开局
            </dl>
        </div>
        <form class="am-form am-g">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
                <thead>
                <tr class="am-success">
                    <th class="table-type am-text-center">日期</th>
                    <th class="table-title am-text-center">星期</th>
                    <th class="table-type am-text-center">新增开局</th>
                    <th class="table-type am-text-center">总开局</th>
                </tr>
                </thead>
                <tbody id="tablelsw" class="am-text-center">
                {% for game in games %}
                    <tr>
                        <td><script type="text/javascript">
                            var unixTimestamp = new Date({{ game.time }}*1000);
                            document.write(unixTimestamp.toLocaleDateString());</script></td>
                        <td class="am-text-center am-text-middle">
                            <script type="text/javascript">
                                var unixTimestamp = new Date({{ game.time }}*1000);
                                Day = unixTimestamp.getDay()
                                switch (Day) {
                                    case 0:
                                        document.write('星期日');
                                        break;
                                    case 1:
                                        document.write('星期一');
                                        break;
                                    case 2:
                                        document.write('星期二');
                                        break;
                                    case 3:
                                        document.write('星期三');
                                        break;
                                    case 4:
                                        document.write('星期四');
                                        break;
                                    case 5:
                                        document.write('星期五');
                                        break;
                                    case 6:
                                        document.write('星期六');
                                        break;
                                    default:
                                        document.write('未知星期');
                                }
                            </script>
                        </td>
                        <td>{{ game.gamenum }}</td>
                        <td>{{ game.gametolnum }}</td>
                    </tr>
                {% endfor %}
            </table>
            <ul class="am-pagination am-fr">
                <li><a href="{{url_for('dayUpGameListPage',page=1)}}">首页</a></li>
                <li><a href="{{url_for('dayUpGameListPage',page=(1 if cur_page==1 else cur_page-1))}}">上一页</a></li>
                <li><a href="{{url_for('dayUpGameListPage',page=(tol_page if cur_page==tol_page else cur_page+1))}}">下一页</a></li>
                <li><a href="{{url_for('dayUpGameListPage',page=tol_page)}}">末页</a></li>
                第<span>{{ cur_page }}</span>页/共<span>{{ tol_page }}</span>页
            </ul>
            <hr />
        </form>
        <div class="foods">
            <ul>
                版权所有@2017. 盒中闪电出品
            </ul>
            <dl>
                <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
            </dl>
        </div>
    </div>
{% endblock %}