{% extends "base.html" %}
{% block son %}
    <div class="admin-biaogelist">
        <div class="listbiaoti am-cf">
            <dl style="float: right;">
                当前位置： <i class="am-icon-home">首页</i>
            </dl>
        </div>
        <form class="am-form am-g">
            <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-users"></span><br/>总用户数<br/>{{ tol_user }}</a></li>
                <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-weixin"></span><br/>微信用户<br/>{{ tol_wechat }}</a></li>
                <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-user"></span><br/>游客<br/>{{ tol_guest }}</a></li>
                <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-paper-plane-o"></span><br/>总开局数<br/>{{ tol_game }}</a></li>
            </ul>
        </form>
        <form class="am-form am-g">
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">近日新增用户<span class="am-icon-chevron-down am-fr" ></span></div>
                    <div id="collapse-panel-1" class="am-in">
                        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                            <tbody>
                            <tr>
                                <th class="am-text-center">日期</th>
                                <th>星期</th>
                                <th>新增</th>
                            </tr>
                            <tr>
                                <td class="am-text-center">1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">3</td>
                                <td>3</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">4</td>
                                <td>4</td>
                                <td>4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">近日新开局数<span class="am-icon-chevron-down am-fr" ></span></div>
                    <div id="collapse-panel-2" class="am-in">
                        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                            <tbody>
                            <tr>
                                <th class="am-text-center">日期</th>
                                <th>星期</th>
                                <th>新开</th>
                            </tr>
                            <tr>
                                <td class="am-text-center">1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">2</td>
                                <td>2</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">3</td>
                                <td>3</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">4</td>
                                <td>4</td>
                                <td>4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}