{% extends "base.html" %}
{% block indexactive %}
active
{% endblock %}
{% block son %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            欢迎管理员
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{{ url_for('show_index') }}" class="am-icon-home">首页</a></li>
        </ol>
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-users"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{ tol_user }} </div>
                        <div class="desc"> 总用户数 </div>
                    </div>
                    <a class="more" href="{{ url_for('userList') }}"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-paper-plane-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{ tol_game }} </div>
                        <div class="desc"> 总局数 </div>
                    </div>
                    <a class="more" href="{{ url_for('gameList') }}"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-weixin"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{ tol_wechat }} </div>
                        <div class="desc"> 微信用户 </div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-user"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{ tol_guest }} </div>
                        <div class="desc"> 游客 </div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>

        <form class="am-form am-g">
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">
                        近日新增用户
                        <span class="am-icon-chevron-down am-fr" ></span>
                    </div>
                    <div id="collapse-panel-1" class="am-in">
                        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                            <tbody>
                            <tr>
                                <th class="am-text-center">日期</th>
                                <th class="am-text-center">星期</th>
                                <th class="am-text-center">新增</th>
                            </tr>
                            <tr>
                                <td class="am-text-center">昨天</td>
                                <td class="am-text-center">星期一</td>
                                <td class="am-text-center">999</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">今天</td>
                                <td class="am-text-center">星期二</td>
                                <td class="am-text-center">999</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">明天</td>
                                <td class="am-text-center">星期三</td>
                                <td class="am-text-center">999</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">
                        近日新开局数<span class="am-icon-chevron-down am-fr" ></span>
                    </div>
                    <div id="collapse-panel-2" class="am-in">
                        <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                            <tbody>
                            <tr>
                                <th class="am-text-center">日期</th>
                                <th class="am-text-center">星期</th>
                                <th class="am-text-center">新开</th>
                            </tr>
                            <tr>
                                <td class="am-text-center">昨天</td>
                                <td class="am-text-center">星期一</td>
                                <td class="am-text-center">100</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">今天</td>
                                <td class="am-text-center">星期二</td>
                                <td class="am-text-center">100</td>
                            </tr>
                            <tr>
                                <td class="am-text-center">明天</td>
                                <td class="am-text-center">星期三</td>
                                <td class="am-text-center">100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}