{% extends "base.html" %}

{% block dataactive %}
    active
{% endblock %}

{% block datastyle %}
    style="display:block"
{% endblock %}

{% block periodAnalyseByDayactive %}
    class="active"
{% endblock %}

{% block son %}
    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    时间同比数据
                </div>
                <div style="float: right">
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=1) }}">1:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=2) }}">2:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=3) }}">3:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=4) }}">4:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=5) }}">5:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=6) }}">6:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=7) }}">7:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=8) }}">8:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=9) }}">9:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=10) }}">10:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=11) }}">11:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=12) }}">12:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=13) }}">13:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=14) }}">14:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=15) }}">15:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=16) }}">16:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=17) }}">17:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=18) }}">18:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=19) }}">19:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=20) }}">20:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=21) }}">21:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=22) }}">22:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=23) }}">23:00</a>
                    <a href="{{ url_for('periodAnalyseByDayOrder',order=24) }}">24:00</a>
                </div>
            </div>
            <div class="tpl-echarts tpl-chart-mb" id="main">
                <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
                <script type="text/javascript">
                    dayString = ['未知时段','0:00-1:00','1:00-2:00','2:00-3:00','3:00-4:00','4:00-5:00','5:00-6:00',
                    '6:00-7:00','7:00-8:00','8:00-9:00','9:00-10:00','10:00-11:00','11:00-12:00',
                    '12:00-13:00','13:00-14:00','14:00-15:00','15:00-16:00','16:00-17:00','17:00-18:00',
                    '18:00-19:00','19:00-20:00','20:00-21:00','21:00-22:00','22:00-23:00','23:00-24:00']
                    var myChart = echarts.init(document.getElementById("main"));
                    var option = {
                        title : {
                            text :dayString[{{order}}]
                        },
                        tooltip : {
                            trigger: 'axis',
                            formatter : function (params) {
                                var date = new Date(params.value[0]);
                                data = date.getFullYear() + '-'
                                    + (date.getMonth() + 1) + '-'
                                    + date.getDate() + ' ';
                                switch (date.getDay()) {
                                    case 0:
                                        data +='星期日';
                                        break;
                                    case 1:
                                        data +='星期一';
                                        break;
                                    case 2:
                                        data +='星期二';
                                        break;
                                    case 3:
                                        data +='星期三';
                                        break;
                                    case 4:
                                        data +='星期四';
                                        break;
                                    case 5:
                                        data +='星期五';
                                        break;
                                    case 6:
                                        data +='星期六';
                                        break;
                                    default:
                                        data +='未知星期';
                                }
                                return data + '<br/>'
                                    + params.value[1]
                            }
                            },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: false},
                                dataView : {show: false, readOnly: false},
                                magicType : {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: false}
                            }
                        },
                        calculable : true,
                        dataZoom: {
                            show: true,
                            start : 70
                        },
                        legend : {
                            data : ['新增用户','新增开局']
                        },
                        grid: {
                            y2: 80
                        },
                        xAxis : [
                            {
                                type : 'time',
                                splitNumber:10
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name: '新增用户',
                                type: 'line',
                                showAllSymbol: true,
                                data: function () {
                                    var d = [];
                                    {% for data in datas %}
                                        d.push([
                                            new Date({{data.time*1000}}),
                                            {{ data.usernum}}
                                        ]);
                                    {% endfor %}
                                    return d;
                                }()
                            },
                            {
                                name: '新增开局',
                                type: 'line',
                                showAllSymbol: true,
                                data: function () {
                                    var d = [];
                                    {% for data in datas %}
                                        d.push([
                                            new Date({{data.time*1000}}),
                                            {{ data.gamenum}}
                                        ]);
                                    {% endfor %}
                                    return d;
                                }()
                            }
                        ]
                    };
                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>
{% endblock %}