{% extends "base.html" %}
{% block useractive %}
active
{% endblock %}
{% block userstyle %}
style="display:block"
{% endblock %}
{% block userDiagramBySexactive %}
class="active"
{% endblock %}
{% block son %}
    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    用户性别饼图
                </div>
            </div>
            <div class="tpl-echarts tpl-chart-mb" id="main">
                <script src="../static/assets/js/echarts.js"></script>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('main'));
                    option = {
                        title: {
                    text: '用户性别统计',
                    left: 'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    // orient: 'vertical',
                    // top: 'middle',
                    bottom: 10,
                    left: 'center',
                    data: ['{{datas[0][0]}}', '{{datas[1][0]}}','{{datas[2][0]}}']
                },
                series : [
                    {
                        type: 'pie',
                        radius : '65%',
                        center: ['50%', '50%'],
                        selectedMode: 'single',
                        data:[
                            {value:{{datas[0][1]}},name:'{{datas[0][0]}}'},
                            {value:{{datas[1][1]}},name:'{{datas[1][0]}}'},
                            {value:{{datas[2][1]}},name:'{{datas[2][0]}}'}

                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>
{% endblock %}