{% extends "base.html" %}

{% block viewport %}
    <meta name="viewport" content="maximum-scale=1.05">
{% endblock %}

{% block useractive %}
    active
{% endblock %}

{% block userstyle %}
    style="display:block"
{% endblock %}

{% block userDiagramByGameactive %}
    class="active"
{% endblock %}

{% block son %}
    <div class="tpl-content-wrapper">
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    用户局数饼图
                </div>
            </div>
            <div class="tpl-echarts tpl-chart-mb" id="main">
                <script src="../static/assets/js/echarts.js"></script>
                <script type="text/javascript">
                    var myChart = echarts.init(document.getElementById('main'));
                    var weatherIcons = {
                        'Sunny': './data/asset/img/weather/sunny_128.png',
                        'Cloudy': './data/asset/img/weather/cloudy_128.png',
                        'Showers': './data/asset/img/weather/showers_128.png'
                    };
                    option = {
                        tooltip : {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            bottom: 10,
                            left: 'center',
                            data: ['{{datas[0][0]}}', '{{datas[1][0]}}','{{datas[2][0]}}','{{datas[3][0]}}','{{datas[4][0]}}','{{datas[5][0]}}','{{datas[6][0]}}','{{datas[7][0]}}','{{datas[8][0]}}','{{datas[9][0]}}','{{datas[10][0]}}','{{datas[11][0]}}','{{datas[12][0]}}']
                        },
                        series : [
                            {
                                type: 'pie',
                                radius : '65%',
                                center: ['50%', '50%'],
                                selectedMode: 'single',
                                data:[
                                    {value:{{datas[0][1]}},name:'{{datas[0][0]}}'},
                                    {value:{{datas[1][1]}},name:'{{datas[1][0]}}'},
                                    {value:{{datas[2][1]}},name:'{{datas[2][0]}}'},
                                    {value:{{datas[3][1]}},name:'{{datas[3][0]}}'},
                                    {value:{{datas[4][1]}},name:'{{datas[4][0]}}'},
                                    {value:{{datas[5][1]}},name:'{{datas[5][0]}}'},
                                    {value:{{datas[6][1]}},name:'{{datas[6][0]}}'},
                                    {value:{{datas[7][1]}},name:'{{datas[7][0]}}'},
                                    {value:{{datas[8][1]}},name:'{{datas[8][0]}}'},
                                    {value:{{datas[9][1]}},name:'{{datas[9][0]}}'},
                                    {value:{{datas[10][1]}},name:'{{datas[10][0]}}'},
                                    {value:{{datas[11][1]}},name:'{{datas[11][0]}}'},
                                    {value:{{datas[12][1]}},name:'{{datas[12][0]}}'}

                                ],
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>
{% endblock %}