{% extends "base.html" %}
{% block useractive %}
active
{% endblock %}
{% block userstyle %}
style="display:block"
{% endblock %}
{% block userDataByGameactive %}
class="active"
{% endblock %}
{% block son %}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            欢迎管理员
        </div>
        <ol class="am-breadcrumb">
            <li><a href="{{ url_for('show_index') }}" class="am-icon-home">首页</a></li>
            <li><i class="am-icon-users">用户管理</i></li>
            <li>用户局数列表</li>
        </ol>
        <form class="am-form am-g">
            <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover ">
                <thead>
                <tr class="am-success ">
                    <th class="table-title am-text-center">游戏局数</th>
                    <th class="table-title am-text-center">玩家数量</th>
                </tr>
                </thead>
                <tbody id="tablelsw" class="am-text-center am-text-middle">
                {% for data in datas %}
                    <tr>
                    <td>{{ data[0] }}</td>
                    <td>{{ data[1] }}</td>
                {% endfor %}
                </tbody>
            </table>
            <hr />
        </form>
    </div>
{% endblock %}