{% extends "base.html" %}
{% block son %}
    <div class="admin-biaogelist" >

        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on">
                {{title}}胜率统计统计
            </ul>
            <dl>
                <a href="{{url_for('winrateDiagramByNumPage',num=6)}}">6人局</a>
            </dl>
            <dl>
                <a href="{{url_for('winrateDiagramByNumPage',num=7)}}">7人局</a>
            </dl>
            <dl>
                <a href="{{url_for('winrateDiagramByNumPage',num=8)}}">8人局</a>
            </dl>
            <dl>
                <a href="{{url_for('winrateDiagramByNumPage',num=0)}}">全部局</a>
            </dl>
            <dl style="float: right;">
                当前位置： <a class="am-icon-home" href="{{ url_for('show_index') }}">首页</a> > {{title}}胜率统计统计
            </dl>
        </div>
        <div id="main" style="height:70%;width: 70%"></div>
        <script src="../static/assets/js/echarts.js"></script>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('main'));
            option = {
                title: {
                    text: '{{title}}胜率统计统计',
                    left: 'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    // orient: 'vertical',
                    // top: 'middle',
                    bottom: 10,
                    left: 'center',
                    data: ['{{datas[0][0]}}', '{{datas[1][0]}}']
                },
                series : [
                    {
                        type: 'pie',
                        radius : '65%',
                        center: ['50%', '50%'],
                        selectedMode: 'single',
                        data:[
                            {value:{{datas[0][1]}},name:'{{datas[0][0]}}'},
                            {value:{{datas[1][1]}},name:'{{datas[1][0]}}'}

                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart.setOption(option);
        </script>
    </div>
{% endblock %}